
progress {
  display: block;
}

#run {
  margin: 8px 0;
}

.marquee-container {
  position: relative;
  height: 32px;
  margin-bottom: 16px;
  overflow: hidden;
}

.marquee {
  position: absolute;
  display: inline-block;
  left: 100%;
  font-size: 32px;
  line-height: 32px;
  white-space: nowrap;
  animation: marquee 5s linear infinite;
}

@keyframes marquee {
  0% {
    left: 100%;
    transform: translateX(0);
    color: black;
  }
  90% {
    left: 0;
    transform: translateX(-100%);
    color: black;
  }
  100% {
    left: 0;
    transform: translateX(-100%);
    color: transparent;
  }
}